<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <% @destination_weather.each do |day| %>
      <p class="day_time"><%= day.info %></p>
      <p class="high-temp">High: <%= day.high %></p>
      <p class="low-temp">Low: <%= day.low %></p>
      <p class="weather">Conditions: <%= day.conditions %></p>
  <% end %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
